In [13]:
import pandas as pd
import numpy as np

In [14]:
provinces = pd.read_excel('dataset\provinces.xlsx')['Province']
provinces = provinces.values
provinces

array(['Zhejiang', 'Tianjin', 'Sichuan', 'Shanxi', 'Shanghai', 'Shandong',
       'Shaanxi', 'Qinghai', 'Ningxia', 'Liaoning', 'Jilin', 'Jiangxi',
       'Jiangsu', 'Inner', 'Hunan', 'Hubei', 'Hong Kong', 'Henan',
       'Heilongjiang', 'Hebei', 'Guangdong', 'Gansu', 'Fujian',
       'Chongqing', 'Beijing', 'Anhui', 'Taiwan', 'Tibet', 'Yunnan',
       'Xinjiang', 'Hainan', 'Guizhou', 'Guangxi', 'Macau'], dtype=object)

In [15]:
consumer = pd.read_excel('secondary\consumer.xlsx')
consumer.head()

   consumer_id first_name last_name gender     country         city
0            0      Abbey      Gwen      F  Montenegro    Podgorica
1            1      Abbie       Ken      F       China  Gongzhuling
2            2     Abbott    Leslie      M       China      Renhuai
3            3        Abe     Jesse      M      Belize     Belmopan
4            4    Abigail   Jeffrey      F       China     Donggang

In [16]:
ch_consumer=consumer[consumer['country']=='China']
foreign_consumer = consumer[consumer['country']!='China']

In [17]:
province_sample = np.random.choice(provinces,size=len(ch_consumer),p=[0.05]*10+[0.5/(len(provinces)-10)]*(len(provinces)-10))
ch_consumer['province']=province_sample

C:\Users\Maggie\AppData\Local\Temp\ipykernel_2796\3883888856.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ch_consumer['province']=province_sample

In [18]:
foreign_consumer['province']=['International']*len(foreign_consumer)

C:\Users\Maggie\AppData\Local\Temp\ipykernel_2796\1140735490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  foreign_consumer['province']=['International']*len(foreign_consumer)

In [19]:
consumers = pd.concat([ch_consumer,foreign_consumer])
consumers = consumers.sort_values(by='consumer_id').reset_index(drop=True)
# consumers

Generate phone number

In [20]:
with open('secondary\phones.txt', 'r+', encoding='utf-8') as f:
    s = [i[:-1].split(', ') for i in f.readlines()]
consumers['phone_number']=s[0]

Generate roles

In [21]:
roles = np.random.choice(['consumer','staff'],size=len(consumers),p=[0.92,0.08])
consumers['role']=roles

In [22]:
consumers['street_address']=consumers['province'].map(str)+' '+consumers['city']

In [23]:
'''CREATE TABLE user
(USER_ID   INT,
FIRST_NAME  VARCHAR(20),
LAST_NAME   VARCHAR(20),
PHONE_NUMBER VARCHAR(20),
REGION     VARCHAR(20),
COUNTRY_NAME VARCHAR(10),
PROVINCE   VARCHAR(25),
ROLE  VARCHAR(10),
STREET_ADDRESS VARCHAR(40),
PRIMARY KEY(USER_ID));
'''
order = ['consumer_id','first_name','last_name','phone_number','country','province','role','street_address']
consumers = consumers[order]
consumers=consumers.rename(columns={'consumer_id':'user_id','country':'country_name'})
consumers

,user_id,first_name,last_name,phone_number,country_name,province,role,street_address
0,0,Abbey,Gwen,814 998-6229,Montenegro,International,consumer,International Podgorica
1,1,Abbie,Ken,508 420-3608,China,Guangdong,consumer,Guangdong Gongzhuling
2,2,Abbott,Leslie,769 044-5994,China,Guangxi,staff,Guangxi Renhuai
3,3,Abe,Jesse,701 801-2284,Belize,International,consumer,International Belmopan
4,4,Abigail,Jeffrey,305 985-4508,China,Shanghai,consumer,Shanghai Donggang
...,...,...,...,...,...,...,...,...
1058,1058,Zelda,Alda,947 405-5498,China,Shanxi,consumer,Shanxi Ningde
1059,1059,Zelene,Olivy,361 534-7809,China,Tianjin,consumer,Tianjin Chibi
1060,1060,Zeph,Happy,865 412-0872,China,Shandong,staff,Shandong Qitaihe
1061,1061,Zera,Victors,321 423-7981,China,Tianjin,consumer,Tianjin Xinxiang
1062,1062,Zoe,Prudence,308 117-047,China,Sichuan,consumer,Sichuan Huizhou

In [24]:
# # consumers = ch_consumer+foreign_consumer
consumers.to_excel('dataset/user.xlsx',index=False)